<section class="hero is-info is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-5-tablet is-4-desktop is-3-widescreen">
            <form action="" class="box">
              <div class="field">
                <label for="" class="label">Username</label>
                <div class="control has-icons-left">
                  <input type="email" placeholder="1" class="input" value="1" required>
                  <span class="icon is-small is-left">
                    <i class="mdi mdi-account"></i>
                  </span>
                </div>
              </div>
              <div class="field">
                <label for="" class="label">Password</label>
                <div class="control has-icons-left">
                  <input type="password" placeholder="*" class="input" value="1" required>
                  <span class="icon is-small is-left">
                    <i class="mdi mdi-lock"></i>
                  </span>
                </div>
              </div>
              <div class="field">
                <button class="button is-success" (click)="login()">
                  Login
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>